// jQuery
script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/lib/jquery-ui/ui/jquery-ui.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')
script(type="text/javascript", src="/lib/angular-translate/angular-translate.js")
script(type="text/javascript", src="/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
script(type="text/javascript", src="/lib/angular-translate-storage-local/angular-translate-storage-local.js")
script(type="text/javascript", src="/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js")
script(type="text/javascript", src="/js/other/angular-mocks.js")

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.min.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/lib/bootstrap-switch-master/dist/js/bootstrap-switch.min.js')

//Simple Cart JS
script(type='text/javascript', src='/lib/simplecart/simpleCart.js')
script.
  var myCart = simpleCart({
    checkout: {
      type: "PayPal",
      email: "you@yours.com"
    },
    currency: 'EUR'
  });

//jQuery File Upload

////script(type='text/javascript', src='/lib/blueimp-load-image/js/vendor/jquery.ui.widget.js')
//script(type='text/javascript', src='/lib/blueimp-load-image/js/load-image.min.js')
//script(type='text/javascript', src='/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
//script(type='text/javascript', src='/lib/blueimp-canvas-to-blob/js/canvas-to-blob.min.js')
////script(src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js")
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.iframe-transport.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-process.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-image.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-audio.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-video.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-validate.js')
//script(type='text/javascript', src='/lib/blueimp-file-upload/js/jquery.fileupload-angular.js')

//Angular Component
script(type='text/javascript', src='/js/other/angular-component.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/quinielas.js')
script(type='text/javascript', src='/js/services/premios.js')
script(type='text/javascript', src='/js/services/monederos.js')
script(type='text/javascript', src='/js/services/movimientos.js')
script(type='text/javascript', src='/js/services/users.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/application.js')
script(type='text/javascript', src='/js/controllers/quinielas.js')
script(type='text/javascript', src='/js/controllers/monederos.js')
script(type='text/javascript', src='/js/controllers/movimientos.js')
//script(type='text/javascript', src='/js/controllers/premios.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/admin.js')
script(type='text/javascript', src='/js/controllers/users.js')
//script(type='text/javascript', src='/js/controllers/cart.js')
script(type='text/javascript', src='/js/init.js')

// Filters
script(type='text/javascript', src='/js/filters/filters.js')

// Animations
script(type='text/javascript', src='/js/animations/animations.js')

// Other Scripts
script(type='text/javascript', src='/js/utils.js')