<article class="main-content container-fluid col-md-9" data-ng-controller="IndexController">
    <div class="bio-article">
    	<h3>Biografía</h3>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum adipiscing sollicitudin. 
    		Nunc et lorem purus. Aenean dictum est nec metus facilisis, vel ullamcorper massa malesuada. 
    		Etiam consectetur lacinia turpis, a pharetra ante lobortis in. Nullam pellentesque dignissim nibh eu fermentum. 
    		Aenean pretium id urna sed sagittis. Etiam blandit blandit mi vitae iaculis.
    	</p>
    	<p>
    		<img class="inner-img right" src="/img/logos/logo_256.png" />
    		Morbi viverra venenatis nibh pretium consectetur. Nullam at purus quis dui aliquam ultricies eu quis purus. 
    		Phasellus arcu nunc, consectetur sed enim vitae, rutrum hendrerit tellus. Nullam ac ultricies mauris, id commodo neque. 
    		Mauris vel mattis quam. Integer eget dapibus mi.
    		Praesent rutrum justo sed risus tempor iaculis. Suspendisse potenti. 
    		Proin quam nulla, congue ut placerat vel, lobortis et mi. Vestibulum vehicula euismod interdum. 
    		Proin suscipit, sem vitae condimentum ornare, sem orci commodo ipsum, eget adipiscing nisi libero ut metus. 
    		Proin varius lacus sed posuere auctor. Nullam eget enim vel augue faucibus feugiat. 
    		Aenean vehicula tortor ac sem imperdiet consectetur. Nam vel tellus libero.							
    	</p>
    </div>
    <div class="bio-article">
    	<h3>Los Inicios</h3>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum adipiscing sollicitudin. 
    		Nunc et lorem purus. Aenean dictum est nec metus facilisis, vel ullamcorper massa malesuada. 
    		Etiam consectetur lacinia turpis, a pharetra ante lobortis in. Nullam pellentesque dignissim nibh eu fermentum. 
    		Aenean pretium id urna sed sagittis. Etiam blandit blandit mi vitae iaculis.
    	</p>
    	<p>
    		<img class="inner-img left" src="/img/logos/logo_256.png" />
    		Morbi viverra venenatis nibh pretium consectetur. Nullam at purus quis dui aliquam ultricies eu quis purus. 
    		Phasellus arcu nunc, consectetur sed enim vitae, rutrum hendrerit tellus. Nullam ac ultricies mauris, id commodo neque. 
    		Mauris vel mattis quam. Integer eget dapibus mi. Praesent rutrum justo sed risus tempor iaculis. Suspendisse potenti. 
    		Proin quam nulla, congue ut placerat vel, lobortis et mi. Vestibulum vehicula euismod interdum. 
    		Proin suscipit, sem vitae condimentum ornare, sem orci commodo ipsum, eget adipiscing nisi libero ut metus. 
    		Proin varius lacus sed posuere auctor. Nullam eget enim vel augue faucibus feugiat. 
    		Aenean vehicula tortor ac sem imperdiet consectetur. Nam vel tellus libero.
    	</p>
    	<p>
    		Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
    		Suspendisse luctus, nibh eu malesuada sagittis, augue nunc fermentum turpis, et elementum mi justo vel est. 
    		Donec suscipit tortor vel tortor pretium gravida. Proin neque metus, pellentesque at ante vel, porttitor sollicitudin mauris.
    		Nulla eu nulla ultricies, ultricies enim sagittis, consectetur nunc. 
    		Nam mattis, elit nec molestie rhoncus, est nibh hendrerit diam, sit amet interdum sapien lorem tempus metus. 
    		Phasellus hendrerit, metus in commodo eleifend, neque tellus vestibulum ligula, ac suscipit tortor diam sed nunc. 
    		Duis eu velit sit amet ipsum consequat eleifend quis id erat. 
    		Sed dictum sapien volutpat arcu lacinia, et fermentum ante fermentum.
    	</p>
    </div>
    <div class="bio-article">
    	<h3>Actualmente</h3>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla bibendum adipiscing sollicitudin. 
    		Nunc et lorem purus. Aenean dictum est nec metus facilisis, vel ullamcorper massa malesuada. 
    		Etiam consectetur lacinia turpis, a pharetra ante lobortis in. Nullam pellentesque dignissim nibh eu fermentum. 
    		Aenean pretium id urna sed sagittis. Etiam blandit blandit mi vitae iaculis.
    	</p>						
    	<p>
    		<img class="inner-img right" src="/img/logos/logo_256.png" />
    		Morbi viverra venenatis nibh pretium consectetur. Nullam at purus quis dui aliquam ultricies eu quis purus. 
    		Phasellus arcu nunc, consectetur sed enim vitae, rutrum hendrerit tellus. Nullam ac ultricies mauris, id commodo neque. 
    		Mauris vel mattis quam. Integer eget dapibus mi. Praesent rutrum justo sed risus tempor iaculis. Suspendisse potenti. 
    		Proin quam nulla, congue ut placerat vel, lobortis et mi. Vestibulum vehicula euismod interdum. 
    		Proin suscipit, sem vitae condimentum ornare, sem orci commodo ipsum, eget adipiscing nisi libero ut metus. 
    		Proin varius lacus sed posuere auctor. Nullam eget enim vel augue faucibus feugiat. 
    		Aenean vehicula tortor ac sem imperdiet consectetur. Nam vel tellus libero.							
    	</p>
    </div>
</article>
<aside id="right-menu">
	<h4>Time Lapse</h4>
	<div id="reproductor">
		<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/34791948&amp;color=333333&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
	</div>
</aside>