.icn-md {
    display: inline-block;
	background: url(/img/sprites/icons-mdpi.png) no-repeat top left;
}

.icn-facebook_black.icn-md{ background-position: 0 0; width: 32px; height: 32px; } 
.icn-facebook_blue_dark.icn-md{ background-position: 0 -57px; width: 32px; height: 32px; } 
.icn-facebook_blue_light.icn-md{ background-position: 0 -114px; width: 32px; height: 32px; } 
.icn-facebook_white.icn-md{ background-position: 0 -171px; width: 32px; height: 32px; } 
.icn-gmail_black.icn-md{ background-position: 0 -228px; width: 32px; height: 32px; } 
.icn-gmail_red_dark.icn-md{ background-position: 0 -285px; width: 32px; height: 32px; } 
.icn-gmail_red_light.icn-md{ background-position: 0 -342px; width: 32px; height: 32px; } 
.icn-gmail_white.icn-md{ background-position: 0 -399px; width: 32px; height: 32px; } 
.icn-gplus_black.icn-md{ background-position: 0 -456px; width: 32px; height: 32px; } 
.icn-gplus_red_dark.icn-md{ background-position: 0 -513px; width: 32px; height: 32px; } 
.icn-gplus_red_light.icn-md{ background-position: 0 -570px; width: 32px; height: 32px; } 
.icn-gplus_white.icn-md{ background-position: 0 -627px; width: 32px; height: 32px; } 
.icn-like_black.icn-md{ background-position: 0 -684px; width: 32px; height: 32px; } 
.icn-like_blue_dark.icn-md{ background-position: 0 -741px; width: 32px; height: 32px; } 
.icn-like_blue_light.icn-md{ background-position: 0 -798px; width: 32px; height: 32px; } 
.icn-like_white.icn-md{ background-position: 0 -855px; width: 32px; height: 32px; } 
.icn-mail_black.icn-md{ background-position: 0 -912px; width: 32px; height: 32px; } 
.icn-mail_white.icn-md{ background-position: 0 -969px; width: 32px; height: 32px; } 
.icn-mail_yellow_dark.icn-md{ background-position: 0 -1026px; width: 32px; height: 32px; } 
.icn-mail_yellow_light.icn-md{ background-position: 0 -1083px; width: 32px; height: 32px; } 
.icn-overflow_black.icn-md{ background-position: 0 -1140px; width: 32px; height: 32px; } 
.icn-overflow_white.icn-md{ background-position: 0 -1197px; width: 32px; height: 32px; } 
.icn-paypal_black.icn-md{ background-position: 0 -1254px; width: 32px; height: 32px; } 
.icn-paypal_blue_dark.icn-md{ background-position: 0 -1311px; width: 32px; height: 32px; } 
.icn-paypal_blue_light.icn-md{ background-position: 0 -1368px; width: 32px; height: 32px; } 
.icn-paypal_white.icn-md{ background-position: 0 -1425px; width: 32px; height: 32px; } 
.icn-plusone_black.icn-md{ background-position: 0 -1482px; width: 32px; height: 32px; } 
.icn-plusone_red_dark.icn-md{ background-position: 0 -1539px; width: 32px; height: 32px; } 
.icn-plusone_red_light.icn-md{ background-position: 0 -1596px; width: 32px; height: 32px; } 
.icn-plusone_white.icn-md{ background-position: 0 -1653px; width: 32px; height: 32px; } 
.icn-search_black.icn-md{ background-position: 0 -1710px; width: 32px; height: 32px; } 
.icn-search_white.icn-md{ background-position: 0 -1767px; width: 32px; height: 32px; } 
.icn-soundcloud_black.icn-md{ background-position: 0 -1824px; width: 32px; height: 32px; } 
.icn-soundcloud_white.icn-md{ background-position: 0 -1881px; width: 32px; height: 32px; } 
.icn-soundcloud_yellow_dark.icn-md{ background-position: 0 -1938px; width: 32px; height: 32px; } 
.icn-soundcloud_yellow_light.icn-md{ background-position: -57px 0; width: 32px; height: 32px; } 
.icn-star_0_black.icn-md{ background-position: -57px -57px; width: 32px; height: 32px; } 
.icn-star_0_white.icn-md{ background-position: -57px -114px; width: 32px; height: 32px; } 
.icn-star_0_yellow_dark.icn-md{ background-position: -57px -171px; width: 32px; height: 32px; } 
.icn-star_0_yellow_light.icn-md{ background-position: -57px -228px; width: 32px; height: 32px; } 
.icn-star_10_black.icn-md{ background-position: -57px -285px; width: 32px; height: 32px; } 
.icn-star_10_white.icn-md{ background-position: -57px -342px; width: 32px; height: 32px; } 
.icn-star_10_yellow_dark.icn-md{ background-position: -57px -399px; width: 32px; height: 32px; } 
.icn-star_10_yellow_light.icn-md{ background-position: -57px -456px; width: 32px; height: 32px; } 
.icn-star_5_black.icn-md{ background-position: -57px -513px; width: 32px; height: 32px; } 
.icn-star_5_white.icn-md{ background-position: -57px -570px; width: 32px; height: 32px; } 
.icn-star_5_yellow_dark.icn-md{ background-position: -57px -627px; width: 32px; height: 32px; } 
.icn-star_5_yellow_light.icn-md{ background-position: -57px -684px; width: 32px; height: 32px; } 
.icn-tag_black.icn-md{ background-position: -57px -741px; width: 32px; height: 32px; } 
.icn-tag_white.icn-md{ background-position: -57px -798px; width: 32px; height: 32px; } 
.icn-tags_black.icn-md{ background-position: -57px -855px; width: 32px; height: 32px; } 
.icn-tags_white.icn-md{ background-position: -57px -912px; width: 32px; height: 32px; } 
.icn-tshirt_black.icn-md{ background-position: -57px -969px; width: 32px; height: 32px; } 
.icn-tshirt_white.icn-md{ background-position: -57px -1026px; width: 32px; height: 32px; } 
.icn-tumblr_black.icn-md{ background-position: -57px -1083px; width: 32px; height: 32px; } 
.icn-tumblr_blue_dark.icn-md{ background-position: -57px -1140px; width: 32px; height: 32px; } 
.icn-tumblr_blue_light.icn-md{ background-position: -57px -1197px; width: 32px; height: 32px; } 
.icn-tumblr_white.icn-md{ background-position: -57px -1254px; width: 32px; height: 32px; } 
.icn-twitter_black.icn-md{ background-position: -57px -1311px; width: 32px; height: 32px; } 
.icn-twitter_blue_dark.icn-md{ background-position: -57px -1368px; width: 32px; height: 32px; } 
.icn-twitter_blue_light.icn-md{ background-position: -57px -1425px; width: 32px; height: 32px; } 
.icn-twitter_white.icn-md{ background-position: -57px -1482px; width: 32px; height: 32px; } 
.icn-user_black.icn-md{ background-position: -57px -1539px; width: 32px; height: 32px; } 
.icn-user_white.icn-md{ background-position: -57px -1596px; width: 32px; height: 32px; } 
.icn-users_black.icn-md{ background-position: -57px -1653px; width: 32px; height: 32px; } 
.icn-users_white.icn-md{ background-position: -57px -1710px; width: 32px; height: 32px; } 
.icn-youtube_black.icn-md{ background-position: -57px -1767px; width: 32px; height: 32px; } 
.icn-youtube_red_dark.icn-md{ background-position: -57px -1824px; width: 32px; height: 32px; } 
.icn-youtube_red_light.icn-md{ background-position: -57px -1881px; width: 32px; height: 32px; } 
.icn-youtube_white.icn-md{ background-position: -57px -1938px; width: 32px; height: 32px; } 