/* TEMPORAL */
.responsive_tester {
	background-color: grey;
}
.responsive_tester .dt {
    display: inline;
}
/* TEMPORAL */

/* General */
.navbar-nav>li>a {
    padding-bottom: 18px;
}

/* Index */
article.main-content {
	/*width: 66.66666667%;*/
}

/* Tours */


/* Discography */


/* Gallery */


/* Store */


/* About */